.course-nav-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: red;
  position: relative;
  width: 40%;
  border: none;
}
.icon-buttons .btn {
  width: 100%; /* This will make each button take up the full width of its parent container. */
  white-space: nowrap; /* Prevents the content inside the button from wrapping to the next line. */
  overflow: hidden; /* Hides overflowed content. */
  text-overflow: ellipsis; /* Adds an ellipsis when the content overflows. */
}
.breadcrumb-link {
  text-decoration: none;
  color: red; 
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
  padding: 0 5px;
}
.course-nav-item:hover {
  color: blue;
}
.no-underline-gray {
  text-decoration: none;
  color: #312f2f
}
.course-nav-item.selected {
  color: red;
}

.course-nav-item.selected:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: black;
}

.link-text {
  padding-left: 10px;
}