.dashboard-card {
    text-decoration: none;
    margin: 15px;
    width: 250px;
    color: black;
}
.red-icon {
    color: red
}
.grey-icon{
    color: grey
}
.green-icon {
    color: green
}
.sidebar-selected {
    background-color: white;
    color: red;
}
.sidebar-not-selected {
    background-color: black;
    color: white;
}
.navigation-not-selected {
    color: red; 
    border-style: none;
}
.navigation-selected {
    color: black; 
    border-style: none;
}
.text-selected {
    padding-left: 5px; 
    border-left-style: solid
}
.sidebar {
    width: 85px;
    text-align: center;
    background-color: black;
}
.reverse {
    transform: scaleX(-1);
}
.icon-spacing {
    padding: 5px;
    margin: 5px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 5px;
}
.no-underline {
    text-decoration: none;
    color: red
}
.no-underline-gray {
    text-decoration: none;
    color: #312f2f
}
.grey-button {
    background-color: grey
}
.button-spacing {
    margin-left: 5px
}
.course-spacing {
    padding-top: 10px;
    padding-bottom: 10px;
}
.green-border {
    border-left: 5px solid green;
}
.bordered-container {
    padding: 10px;             
    border: 1px solid #ccc;   
    border-radius: 5px;       
}
